<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Main</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class = "container">
    <header>
        <img src="image/logo.png" alt="logo" width = "70" height="70">
        <h1 id = "#q">Air B&B</h1>
        <input type="text" placeholder="Search.." id = "a">
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a> &nbsp; </li>
            <li><a href="registration">Sign up</a> &nbsp; </li>
            <li><a href="room_listing ">Room Listing</a> &nbsp; </li>
        </ul>
        
    </nav>
    
    {{{body}}}
 
  

    <div class= "Information"></div>

    <footer>
        <a href="https://twitter.com/Airbnb?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a>
        <a href="https://www.facebook.com/airbnb/">Facebook</a>

    </footer>
</body>
</html>