<section class="main">
  <h2>Registion Form</h2>
  <form action="server.js" name="signup" method="post">
    <p>Sign up with <a href="https://www.facebook.com/">Fackbook</a> or <a href="https://www.google.com/">Google</a></p><br>

    <input type="email" name="email" placeholder="Email address" class="field"><br>
    <input type="text" name="first" placeholder="First name" class="field"><br>
    <input type="text" name="last" placeholder="Last name" class="field"><br>
    <input type="password" name="password" placeholder="Create a Password" class="field"><br>
    <label class="input">Birthday</label><br>
    <p>to sign up, you need to be at least 18, Other people who use Airbnb won't see your birthday</p><br>

   <input type="date" name="bdate" class="field"><br>
   <input type="checkbox" name="check">We'll send you maketing promotions, special offers, inspiration, and policy updates via emmail.
   <br> <br>
  <input type="submit" class="submit">

  </form>
</section>