<h2>Welcome</h2>
<p>This is Admin dashboard</p>
{{user.first}}
{{user.last}}
<br>
<a href="/Room/add">Add a Room</a> 
<a href="/Room/list">List Room</a>


<br><br>
<a href="/User/logout" class = "button">Logout</a> &nbsp;
<br><br>